<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vtec.gcmnotify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.amazon.mysampleapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.amazon.mysampleapp.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".SNSTestActivity">-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.pushtest" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.example.vtec.gcmnotify.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.vtec.gcmnotify.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.example.vtec.gcmnotify.RegistrationIntentService"
            android:exported="false">
        </service>
        <!-- *** up to this point *** -->

        <!--&lt;!&ndash; BEGIN - PUSH NOTIFICATIONS WITH GOOGLE CLOUD MESSAGING (GCM) &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
                <!--<category android:name="com.testdatabinding"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
            <!--android:name=".service.PushListenerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

    </application>

</manifest>